NODE_ENV=
NEXT_PUBLIC_ENVIRONMENT=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_API_URL=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_DISCORD_URL=
NEXT_PUBLIC_STATUS_URL=
NEXT_PUBLIC_GITHUB_URL=
NEXT_PUBLIC_RELEASE_NOTES_URL=
NEXT_PUBLIC_WEBLATE_URL=