NODE_ENV=
APP_NAME=skymo-api
PORT=3001

ORIGINS=

# LOGGER
SEQ_URL=
SEQ_API_KEY=

REDIS_URL=

POSTGRES_URL=

GMAIL_EMAIL=
GMAIL_APP_PASSWORD=

SIGHTENGINE_API_USER=
SIGHTENGINE_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI=
